/*Full body and html*/
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body{
  font-family: "Montserrat";
}

/*logo title and navbar*/
.logo{
width: 10%;
}
#title{
  background-color: #0a81ab;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2.5%;
}
.navbar{
  padding: 0 0 5rem 0;
}
.navbar-brand{
  font-family: "Happy Monkey";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
}
.nav-item{
  padding: 0 5px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

#form{
  background-color: #0a81ab;
padding-bottom: 20px;
}

#heading{
  text-decoration: underline;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
}
#description{
  text-align: center;
}
.des-text{
  color: #fff;
}
fieldset{
  background-color: #cee5d0;
  text-align: center;
  position: relative;
  left: 20px;
}
.alt-cont{
  text-align: center;
  margin: 5%;
  color: #fff;
}
.cont-icon{
  margin: 20px 10px;
  position: relative;
  left: 35%;
  color: Black;
  width: 90px;
  font-size: 50px;
}
.cont-icon:hover{
  color: #fff;
}

/*foot*/
#footer{
  background-color: #fff;
  margin: 20px;
  font-size: 1rem;
  padding: 10% 0;
}
.foot-icon{
  margin: 20px 10px;
  position: relative;
  left: 42%;
  color: Black;
  width: 30px;
}
.foot-icon:hover{
  color: #0a81ab;
}
.para-foot{
  text-align: center;
}
/*END*/
/* Prakarsh Kaushik */
